.CardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: calc(5 * 250px + 4 * 20px);
    margin: auto;
    padding: 20px;
  }
  .card {
    flex: 0 1 250px;
  }
  .card img {
    width: 100%;
    height: auto;
    max-width: 250px;
    border-radius: 12px;
    object-fit: cover;
  }
  @media (max-width: 1300px) {
    .CardsContainer {
        max-width: calc(5 * 200px + 4 * 15px);
    }
    .card {
        flex: 0 1 200px;
    }
    .card img {
        max-width: 200px;
    }
  }
  @media (max-width: 768px) {
    .CardsContainer {
        max-width: calc(3 * 200px + 2 * 15px);
    }
    .card {
        flex: 0 1 200px;
    }
  }
  @media (max-width: 480px) {
    .CardsContainer {
        max-width: calc(2 * 150px + 15px);
    }
    .card {
        flex: 0 1 150px;
    }
  }